<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink='/home'>Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink='/bank'>Bank</a>
      <!-- <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink='/orderheader'>Order header</a>
      </li> -->
    </ul>

    <!-- Right navbar links -->
    <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <button class="nav-link btn" type="submit" (click)="onLogout()">Logout</button>
        </li>
    </ul> -->
  </nav>