<!-- <div class="row">
  <div class="col-md-12">
      <app-nav></app-nav>
  </div>
</div> -->
<br>
<div class="container">
<div class="container-fluid" id="main-container">
  <div class="row">
    <div class="col ">
      <div class="card">
        <div class="card-header" style="background-color: rgba(113, 201, 248, 0.741);">
          <h3 class="card-title">BANK</h3>
        </div>
        <div class="card-body">
          <div class="form-inline">
            <!-- <input class="form-control" type="text" name="nameBank" [(ngModel)]="nameBank" (ngModelChange)="Search()"
             placeholder="Search by nama" style="width: 20%;" aria-label="Search"> -->
            <button type="button" data-toggle="collapse" (click)="onOpenModal(null!!, 'add')" class="btn ml-auto"
              style="background-color: rgb(53, 180, 248);">Tambah</button>
          </div>
        </div>
        
        <div class="card-body">
        <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead style="background-color: rgba(113, 201, 248, 0.741);">
            <tr>
              <th scope="col">NAMA</th>
              <th scope="col">KODE VA</th>
              <th scope="col">#</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bnk of bank">
              <td>{{bnk.nameBank}}</td>
              <td>{{bnk.vaCode}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="onOpenModal(bnk, 'edit')">
                  <i>U</i>
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="onOpenModal(bnk, 'delete')">
                  <i>H</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <!-- Modal Add Bank -->
<div class="modal fade" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">TAMBAH BANK</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddBank(addForm)">
            <div class="form-group">
                <label for="nameBank">Nama*</label>
                <input type="text" ngModel name="nameBank" class="form-control" id="nameBank" placeholder="Masukan nama bank" required>
              </div>
              <div class="form-group">
                  <label for="vaCode">Kode VA*</label>
                  <input type="text" ngModel name="vaCode" class="form-control" id="vaCode" placeholder="Masukan va code" required>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Simpan</button>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
</div>

<!-- Modal Edit Bank -->
<div class="modal fade" id="editBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">UBAH BANK</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm">
        <input type="hidden" ngModel="{{ editBank?.id }}" name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="nameBank">Nama*</label>
            <input type="text" ngModel="{{ editBank?.nameBank }}" name="nameBank" class="form-control" id="nameBank" required>
          </div>
          <div class="form-group">
            <label for="vaCode">Kode VA*</label>
            <input type="text" ngModel="{{ editBank?.vaCode }}" name="vaCode" class="form-control" id="vaCode" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="onEditBank(editForm.value)" data-dismiss="modal" type="button" class="btn btn-primary">Simpan</button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- Modal Delete Bank -->
<div class="modal fade" id="deleteBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Hapus!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Anda akan menghapus {{ deleteBank.nameBank }} ?</p>
      <div class="modal-footer">
        <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
        <button class="btn btn-primary" data-dismiss="modal" (click)="onDeleteBank(deleteBank.id)">YES</button>
      </div>
    </div>
  </div>
</div>
</div>