<footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="https://adminlte.io">Xsis Academy</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Mini Project</b> 2.5.9
    </div>
  </footer>